
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
   <servlet-name>HomeView</servlet-name>
    <servlet-class>view.HomeView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>HomeView</servlet-name>
     <url-pattern>/Home</url-pattern> 
     </servlet-mapping>
  
  <servlet>
   <servlet-name>MetodoPagamentoView</servlet-name>
    <servlet-class>view.MetodoPagamentoView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>MetodoPagamentoView</servlet-name>
     <url-pattern>/MetodoPagamento</url-pattern> 
     </servlet-mapping>
     
      <servlet>
   <servlet-name>OrdineView</servlet-name>
    <servlet-class>view.OrdineView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>OrdineView</servlet-name>
     <url-pattern>/Ordine</url-pattern> 
     </servlet-mapping>
     
     <servlet>
   <servlet-name>LoginView</servlet-name>
    <servlet-class>view.LoginView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>LoginView</servlet-name>
     <url-pattern>/Login</url-pattern> 
     </servlet-mapping>
  
   <servlet>
   <servlet-name>RegistrazioneView</servlet-name>
    <servlet-class>view.RegistrazioneView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>RegistrazioneView</servlet-name>
     <url-pattern>/Registrazione</url-pattern> 
     </servlet-mapping>
     
     <servlet>
   <servlet-name>HomeLogView</servlet-name>
    <servlet-class>view.HomeLogView</servlet-class> 
    </servlet>
     <servlet-mapping> 
    <servlet-name>HomeLogView</servlet-name>
     <url-pattern>/HomeLog</url-pattern> 
     </servlet-mapping>
  
  
</web-app>

